= content_for :header do
  Exchange Rates

%table.table-fixed
  %tr
    %th Actions
    %th Currency
    %th ($) Price
  - @crypto_service.tradable_currencies.each do |currency|
    %tr.my-8
      %td
        = link_to "Notify",
          new_notification_path(code: currency[2]),
          class: "button green sm m-2"
      %td.text-xl
        = currency[0]
      %td.text-green-400.text-lg{style:"text-align:right"}
        = currency[1]

= render "shared/header", title: "Notifications"

%ul
  - @notifications.each do |notification|
    %li
      = link_to "Edit", edit_notification_path(notification)
      Notify when
      = Currency::TRADABLE[notification.code.to_sym]
      is
      = notification.comparison
      = number_to_currency notification.price
      = button_to "Destroy",
        notification_path(notification),
        class: 'button red',
        method: :delete,
          data: { confirm: "Are you sure?" }



