- if local_assigns[:parent].present? && collection.count == 1
  = t(:first_board_win)
  - if guest_user?
    %br
    = t(:first_board_win_guest)

%ul.top-players.py-3.text-sm
  - collection.each_with_index do |user, index|
    - rank = index + 1

    %li.flex.items-center.justify-start.text-gray-200.rounded-md.px-2.py-2.my-2
      .font-bold.text-2xl.mr-3
        = "#{rank} "

      %i{class: awards(index)}

      - if (@guest_user && user == @guest_user)
        = form_with(model: user,
          url: guest_user_path(user),
          method: :patch,
          local: true,
          class: "inline ml-4") do |f|
          = render "devise/shared/error_messages", resource: @guest_user

          .flex.items-center
            = render "users/name_field", f: f
            = f.submit "Create", class: "button ml-2"

      .flex-grow.font-medium.px-2.text-lg.md:text-2xl
        = user.name unless @guest_user && user == @guest_user

      .space-y-2.font-bold.float-right
        - if local_assigns[:parent].present?
          %ul
            %li.block.text-purple-400
              = "Time: #{parent.player_boards.find_by(user: user).elapsed_time} sec"

        - else
          = render "users/stats", model: user

    %hr.border-t.mx-2.border-gray-400/
