= content_for :header do
  Top Players -
  = @parent.present? ? "Time" : "Wins"

= centered_container do
  = render "list", collection: @collection, parent: @parent

- if @collection.try(:size).to_i > 19
  != pagy_nav(@pagy)
