= centered_container(size: :small) do
  = render "shared/header", title: "Edit Registration"
  = form_with(form_options({model: resource,
                            scope: resource_name,
                            local: :true,
                            method: :put,
                            url: registration_path(resource_name)})) do |f|

    = field_wrapper_for(f.object, :name) do
      = f.label :name
      = f.text_field :name, autofocus: true

    = field_wrapper_for(f.object, :email) do
      = f.label :email
      = f.email_field :email

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    = field_wrapper_for(f.object, :current_password) do
      = f.label :current_password, 'Current Password'
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password

    = field_wrapper_for(f.object, :edit_password) do
      .flex
        = toggle_switch do
          = f.check_box :edit_password,
            class: toggle_checkbox_class,
            data: { action: "toggle#toggle",
            controller: :toggle,
            "toggle-content-selector": "#edit_password" }
        = f.label :edit_password,
          "I would like to change my Current Password", class: "pl-2"

    %div#edit_password{style: "display: #{f.object.edit_password.present? ? 'block' : 'none'};"}
      = field_wrapper_for(f.object, :password) do
        = f.label :password, 'New Password'
        = f.password_field :password
        %em
          = minimum_password_length
          characters minimum

      = field_wrapper_for(f.object, :password_confirmation) do
        = f.label :password_confirmation, 'Confirm New Password'
        = f.password_field :password_confirmation

    .field.center.aligned
      = f.submit @submit_text, class: "button"

  %hr.border-t.my-10.border-gray-400

  %p
    Would you like to cancel your account?

    .mt-3
      = button_to "Delete Account",
        registration_path(resource_name),
        class: 'button red',
        method: :delete,
          data: { confirm: "Are you sure you would like to Delete your account? You cannot undo this action :)." }
