= form_with model: model, local: true do |f|
  = f.hidden_field :code, value: model.code
  = f.select :comparison, ["above", "below"]

  = f.label :price
  = f.text_field :price

  = f.submit nil, class: "button green"

