- size ||= ""

= form_with(model: model, format: :json,
  data: { controller: "form toggle",
          action: "ajax:send->form#loading ajax:complete->form#success ajax:complete->toggle#toggle"}) do |f|

  = f.fields_for :game_attributes, f.object.game do |ff|
    = ff.hidden_field :id

    %span.text-green-500{data: {target: "form.state"}}

    = ff.label :difficulty, class: "mx-2"

    = dropdown_wrapper(size: size) do
      = ff.select :difficulty,
        [:easy, :medium, :hard], {}, {class: size,
        data: {action: "toggle#toggle"}}

  = f.submit "Update",
    { class: "self-center button mx-2 #{size}",
      style: "display: none;",
      data: { target: "toggle.content",
              display: "inline",
              confirm: (t(:current_game_warning)  if model.playing_game?) }}
