%ul
  %li.block.text-green-400
    %span.text-lg
      = model.win_count
    Games Won
  %li.block.text-red-400
    %span.text-lg
      = model.lost_count
    Games Lost
  %li.block.text-blue-300
    %span.text-lg
      = model.play_count
    Games Played

