= content_for :header do
  = "Dashboard - #{user_display_name}"

- if @model.play_count.positive?
  = render "users/stats", model: @model

- if @model.guest?
  .mt-4
    = render "shared/sign_up_blurb"

.mt-10
  = render "shared/play_game"
