= content_for :header do
  Change your password

= centered_container(size: :small) do
  = form_for(resource,
              as: resource_name,
              url: password_path(resource_name),
              html: { method: :put }) do |f|

    = render "devise/shared/error_messages", resource: resource

    = f.hidden_field :reset_password_token

    = field_wrapper_for(f.object, :password) do
      = f.label :password, "New password"
      %br/
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
        %br/
      = f.password_field :password,
        autofocus: true, autocomplete: "new-password"

    = field_wrapper_for(f.object, :password_confirmation) do
      = f.label :password_confirmation, "Confirm new password"
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"

    .actions
      = f.submit "Change my password", class: "button"

  .mt-4
    = render "devise/shared/links"
