= content_for :header do
  Forgot your password?

= centered_container(size: :small) do
  = form_for(resource,
             as: resource_name,
             url: password_path(resource_name),
             html: { method: :post }) do |f|

    = render "devise/shared/error_messages", resource: resource

    = field_wrapper_for(f.object, :email) do
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"

    .actions
      = f.submit "Send reset password email", class: "button"

  .mt-4
    = render "devise/shared/links"
