.field-section.mb-4.focus-within:text-pink-300.focus-within:text-xl
  %div{class: field_wrapper(no_label: local_assigns[:no_label])}

    = yield

  = render "shared/field_errors", errors: local_assigns[:errors]
