= content_for :header do
  You Win!

= render "shared/restart", game: @model

= render "shared/header", title: "Top Board Players", small: true

= centered_container do
  = render "top_players/list",
    collection: @top_board_players, parent: @model.board
  - if @top_board_players.try(:size).to_i > 9
    != pagy_nav(@pagy_board)

= render "boards/board", game: @model,
  revealed: true,
  won: true,
  seconds: @seconds,
  time: @time

