= content_for :header do
  Log in

= centered_container(size: :small) do
  = form_with(form_options({model: resource,
                            local: :true,
                            scope: resource_name,
                            url: session_path(resource_name)})) do |f|

    = field_wrapper_for(f.object, :login) do
      = f.label :login
      = f.text_field :login, autofocus: true, placeholder: placeholders[:login]

    = field_wrapper_for(f.object, :password) do
      = f.label :password
      = f.password_field :password, autocomplete: "current-password"

    - if devise_mapping.rememberable?
      = field_wrapper_for(f.object, :remember_me) do
        = f.check_box :remember_me
        = f.label :remember_me

    .actions
      = f.submit "Log in", class: "button"
  .mt-4
    = render "devise/shared/links"
