- helper = BoardGenerator.new(difficulty: game.difficulty)
- revealed ||= false
- won  ||= false
- form_url = game_over_path
- width = game.board.width
- height = game.board.height
- board_options  = { id: game.board.id,
                     flag: "🏁",
                     seconds: seconds,
                     coords: helper.touching_coords.to_json }

%div{ data: { revealed: revealed.to_s,
              won: local_assigns[:won].to_s,
              controller: :board,
              board:  board_options } }

  %div.timer
    Seconds:
    %span{ data: { target: "board.timer" } }
      = seconds
    - if revealed
      %span
        Your Time:
        = time

  = form_with(class: "flex flex-col space-y-1", model: game, disabled: revealed) do |f|
    - game.board.rows.each do |row_index, row|
      %div{class: "flex flex-row flex-nowrap items-center justify-center space-x-1", data: {target: "board.row"}}
        = render partial: "boards/spot",
          collection: (0...width).to_a,
          locals: { f: f,
                    row: row,
                    game: game,
                    row_index: row_index,
                    helper: helper,
                    revealed: revealed }
