- index = spot_counter
- is_bomb = (row[index.to_s].to_s == helper.bomb.to_s)
- spot_is_revealed = spot_revealed?(game, row_index.to_s, index.to_s)
- value = is_bomb ? "💣" : row[index.to_s]

- spot_is_disabled = revealed || spot_is_revealed
- data = default_data_options(spot_is_revealed, value)
- data[:target] << " board.bomb" if is_bomb
- data[:action] = "click->board#reveal contextmenu->board#flag"

%div{class: "flex-shrink h-10 w-10 shadow-lg", data: data}
  = f.hidden_field input_name(row_index, index),
    value: true, disabled: revealed || !spot_is_revealed

  %button{class: "w-full h-full", type: :submit, disabled: spot_is_disabled}
    = spot_text(revealed, spot_is_revealed, value).html_safe
