
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "alert.scss";

@layer base {
  a {
    @apply text-indigo-300 cursor-pointer;
  }

  a:hover {
   @apply transform -translate-y-1 shadow-lg;
  }

  label {
    @apply text-sm;
  }
}

input[type="text"],
input[type="email"],
input[type="text-area"],
input[type="password"],
select {
  @apply appearance-none block w-full bg-transparent border-2 border-indigo-600 rounded py-3 px-4 mb-3;
}
input[type="text"].sm,
input[type="email"].sm,
input[type="text-area"].sm,
input[type="password"].sm,
select.sm {
  @apply border py-2 px-3 mb-3;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="text-area"]:focus,
input[type="password"]:focus,
select {
  @apply outline-none ring-4 ring-purple-500 border-transparent;
}

input[type="text"].sm:focus,
input[type="email"].sm:focus,
input[type="text-area"].sm:focus,
input[type="password"].sm:focus,
select {
  @apply outline-none ring-2 border-transparent;
}

input.button:hover {
  @apply transform -translate-y-1 shadow-lg;
}

.button {
  @apply inline-block cursor-pointer font-bold py-3 px-6 rounded-lg bg-indigo-600 text-white;
}

.button.sm {
  @apply font-bold py-2 px-4 text-sm;
}

.button.xs {
  @apply font-bold py-2 px-3 rounded-lg text-sm;
}

.button:hover {
  @apply hover:bg-indigo-500 transition ease-in-out duration-300;
}

.button:focus {
  @apply outline-none ring-2 ring-indigo-500 ring-opacity-50;
}

.button.green {
  @apply bg-green-400  text-white ;
}

.button.green:hover {
  @apply hover:bg-green-300 transition ease-in-out duration-300;
}

.button.red {
  @apply bg-red-600 text-white ;
}

.button.red:hover {
  @apply hover:bg-red-500 transition ease-in-out duration-300;
}

toggle-checkbox:checked {
  @apply right-0 border-purple-400;
}

.toggle-checkbox:checked + .toggle-label {
  @apply bg-purple-400;
}

select {
  option {
    @apply bg-gray-900 py-4;
  }
}

[data-controller='board']
[data-target*='board.spot'][data-revealed='true'] button {
  @apply bg-purple-700;
}

[data-controller='board']
[data-target*='board.spot'][data-revealed='true'] button:hover {
  @apply bg-purple-600;
}

[data-controller='board'][data-revealed='true']
[data-target*='board.spot'][data-revealed='true'] button {
  @apply bg-purple-700;
}

[data-controller='board'][data-revealed='true']
[data-target*='board.spot'] button {
  @apply bg-purple-400;
}

[data-controller='board'][data-revealed='true'][data-won='true']
[data-target*='board.spot'] button {
  @apply bg-purple-700;
}

[data-controller='board'] button  {
  @apply bg-gray-400;
}

[data-controller='board']:not([data-revealed='true']) [data-revealed='false'] button:hover  {
  @apply transform -translate-y-1 shadow-lg;
}

[data-controller='board'] button:hover  {
  @apply bg-gray-300;
}


[data-controller='board'][data-revealed='true']
[data-target*='board.spot'][data-target*='board.bomb'] button {
  @apply bg-red-400;
}

form.inline {
 display: inline-block;
}

form .actions {
  @apply my-4;
}

.field-section {
  label {
    @apply text-lg;
  }

  input {
    @apply mt-4;
  }
}

