<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

  <head>
    <meta charset="utf-8">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <!--[if mso]>
    <xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml>
    <style>
      td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
    </style>
  <![endif]-->
    <title>You have requested a Password Reset</title>
    <style>
      .hover-underline:hover {
        text-decoration: underline !important;
      }

      .hover-no-underline:hover {
        text-decoration: none !important;
      }

      @media (max-width: 600px) {
        .sm-leading-32 {
          line-height: 32px !important;
        }

        .sm-px-24 {
          padding-left: 24px !important;
          padding-right: 24px !important;
        }

        .sm-py-32 {
          padding-top: 32px !important;
          padding-bottom: 32px !important;
        }

        .sm-w-full {
          width: 100% !important;
        }
      }
    </style>
  </head>

  <body style="margin: 0; padding: 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased;">
    <div style="display: none;">We see you want to reset your MineSwept account's password&#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &zwnj;
      &#160;&#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &zwnj;
      &#160;&#847; &#847; &#847; &#847; &#847; </div>
    <div role="article" aria-roledescription="email" aria-label="You have requested a Password Reset" lang="en">
      <table style="font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif; width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td align="center">
            <table class="sm-w-full" style="width: 600px;" cellpadding="0" cellspacing="0" role="presentation">
              <tr>
                <td class="sm-py-32 sm-px-24" style="padding: 48px; text-align: center;">
                  <a href="https://<%=ENV['DOMAIN']%>">
                    <img src="https://<%=ENV['DOMAIN']%>/logo-purple.png" width="120" alt="MineSwept" style="border: 0; line-height: 100%; max-width: 100%; vertical-align: middle;">
                  </a>
                </td>
              </tr>
              <tr>
                <td align="center" class="sm-px-24">
                  <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                      <td class="sm-px-24" style="background-color: #ffffff; border-radius: 4px; font-size: 16px; line-height: 24px; padding: 48px; text-align: left; color: #1f2937;">
                        <p>Hello,</p>
                        <p class="sm-leading-32" style="font-weight: 600; font-size: 24px; margin: 0; margin-bottom: 24px; color: #000000;">Having Password Troubles?</p>
                        <p style="margin: 0; margin-bottom: 24px;">You can choose a new password to login with by clicking the link below:</p>
                        <table cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <th style="mso-padding-alt: 16px 24px; background-color: #8b5cf6; border-radius: 4px;">
                              <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" style="display: block; font-weight: 600; font-size: 16px; line-height: 100%; padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 24px; color: #ffffff; text-decoration: none;">Change my Password</a>
                            </th>
                          </tr>
                        </table>
                        <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td style="padding-top: 32px; padding-bottom: 32px;">
                              <div style="background-color: #c4b5fd; height: 1px; line-height: 1px;">&zwnj;</div>
                            </td>
                          </tr>
                        </table>
                        <p style="margin: 0; margin-bottom: 16px;">Not sure why you received this email? Please <a href="mailto:admin@mineswept.io" class="hover-no-underline" style="color: #8b5cf6; text-decoration: underline;">let us know</a>.</p>
                        <p style="margin: 0; margin-bottom: 16px;">Thanks, <br>The MineSwept Team</p>
                      </td>
                    </tr>
                    <tr>
                      <td style="height: 48px;"></td>
                    </tr>
                    <tr>
                      <td style="font-size: 12px; padding-left: 24px; padding-right: 24px; text-align: center; color: #4b5563;">
                        <p style="margin: 0; margin-bottom: 4px; text-transform: uppercase;">MineSwept 2020</p>
                        <p style="margin: 0; font-style: italic;">Get swept away in a nostalgic game</p>
                        <p style="cursor: default;">
                          <a href="https://<%=ENV["DOMAIN"]%>" class="hover-underline" style="color: #8b5cf6; text-decoration: none;">Play Now</a> &bull;
                          <a href="https://twitter.com/clabvessels" class="hover-underline" style="color: #8b5cf6; text-decoration: none;">Twitter</a>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>

</html>
