%footer.border-t.border-gray-400
  .container.max-w-md.mx-auto.flex.py-8
    .w-full.mx-auto.flex.flex-wrap
      .flex.w-full{:class => "md:w-1/2"}
        .px-8
          %h3.font-bold.font-bold.text-gray-100
            = ENV["APP_NAME"]
          %p.py-4.text-gray-600.text-sm
            = t(:footer_blurb)

      .flex.w-full{:class => "md:w-1/2"}
        .px-8
          %h3.font-bold.font-bold.text-gray-100 Links
          %ul.list-reset.items-center.text-sm.pt-3
            %li.flex.items-center.group.border-indigo-500.hover:shadow-lg.hover:border-transparent{:class => "..."}
              %i.fa.fa-envelope.fa-fw.mr-3{ class: "group-hover:text-green-400" }
              %a.text-gray-600.group-hover:text-underline{:class => "...",
                href: "mailto:#{ENV["EMAIL"]}"}
                admin@mineswept.io

