!!!
%html{class: "dark"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{ "http-equiv" => "X-UA-Compatible", content: "ie=edge" }
    %title Mindswept
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      / Global site tag (gtag.js) - Google Analytics
      %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=G-WEHPKRKBF8"}
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WEHPKRKBF8');

      - if ENV["TAG_MANAGER"] == "true"
        // Google Tag Manager
        :javascript
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-5QC4TBX');

    - if current_page?(play_game_path)
      %meta{ name:"turbolinks-visit-control", content:"reload" }

  %body{class: "dark:bg-gray-900 dark:text-gray-100", data: {controller: "nav"}}
    - if ENV["TAG_MANAGER"] == "true"
      / Google Tag Manager (noscript)
      %noscript
        %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-5QC4TBX", :style => "display:none;visibility:hidden", :width => "0"}

    = render "layouts/navigation"

    %div{class: "container w-full mx-auto my-20 lg:mt-40"}
      %div{ class: "w-full px-4 md:px-0 md:mt-8 mb-16" }
        = render "shared/header", title: (yield(:header))

        #toast_alerts.fixed.top-20.right-0.z-50{data: { target: "page-alerts.toasts"}}
          - flash.each do |notice, message|
            - unique_index = rand(1000)
            - context ||= :toast
            - notice = (notice.to_sym == :alert ? :warning : notice)
            - target ||= ("alert.#{context} alert.#{local_assigns[:permanent] ? :perm : :temp}")
            .alert-toast.m-4{data: { controller: :alert, target: target }}
              %input.hidden{id: "toast_alert#{unique_index}", :type => "checkbox"}/

              .alert-body{class: notice}
                %label{ class: "close",
                        for: "toast_alert#{unique_index}",
                        title: "close",
                        data: {action: "click->alert#remove"}}

                  %span.alert-message
                    = message

                  %span.close-toggle
                    %i{ class: "fas fa-times" }

        = yield

  = render "layouts/footer"
